-var name = 'Александр Рысухин';

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      //- link(rel="stylesheet" href="css/all.min.css")
      link(rel="stylesheet" href="../css/style.css")
      title about
   body
      .wrapper
         .curtain
            section.hero
               include pug-sections/top-section
               .hero__title
                  include pug-sections/authorAvatar
                  .personality__name
                     |#{name}
                  .personality__subtitle
                     |Личный сайт веб разработчика
            section.about
               svg(viewbox="0 0 1000 100"
                     preserveAspectRatio="none"
                     class="triangle triangle-decor")
                        polygon(points="0,0 0,100 500,100" class="triangle_fill_white" )
                        polygon(points="500,100 1000,100 1000,0" class="triangle_fill_beige")
               .about__left
                  //- svg(viewbox="0 0 1000 100"
                  //-    preserveAspectRatio="none"
                  //-    class="triangle triangle_fill_white about__triangles")
                  //-    polygon(points="0,0 0,100 1000,100")
                  .title.about__section-title
                     |Обо мне
                  .user-about
                     .user-about__img-holder
                        //- .user-about__picter
                        img(src="../img/my-photo.jpg")
                     .user-about__title.title
                        |КТО Я
                     .user-about__text 
                        p Меня зовут Александр, мне 27лет. Я начинающий веб разработчик.
                        p 
                        p  Этот сайт я сделал на основе материалов изученых во время просмотра курсов Школы онлайн   образования LoftSchool.
               .about__right
                  //- svg(viewbox="0 0 1000 100"
                  //-    preserveAspectRatio="none"
                  //-    class="triangle triangle_fill_beige about__triangles")
                  //-    polygon(points="0,100 1000,100 1000,0")
                  .aboute-data
                     .aboute-data__description.about-user-info
                        .aboute-data__title.title
                           |Чем я могу быть вам полезен
                        .aboute-data__text
                           |Больше всего меня привлекает Frontend разработка,но я также знаком и могу решать не сложные задачи на Backend.Но давайте по порядку.
                     .about-data__content 
                        ul.skills
                           each skill in skills 
                              li.skills__item
                                 .skills-section
                                    .skill-section__title
                                      |Frontend
                                    ul.skill-section__list
                                       li.skill-section__item
                                          .skill
                                             svg(class="skill__circle" viewBox="0 0 110 110")
                                                <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"></circle>
                                                <circle r="45" cx="50%" cy="50%" skill = #{`${skill.html}`} class="circle__second circle-html" transform="rotate(-90 55 55)"></circle>
                                             .skill__name
                                                |HTML5
                                       li.skill-section__item
                                          .skill
                                             svg(class="skill__circle" viewBox="0 0 110 110")
                                                <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"></circle>
                                                <circle r="45" cx="50%" cy="50%" skill = #{`${skill.css}`}  class="circle__second" transform="rotate(-90 55 55)"></circle>
                                             .skill__name
                                                |CSS3
                                       li.skill-section__item
                                          .skill
                                             svg(class="skill__circle" viewBox="0 0 110 110")
                                                <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"></circle>
                                                <circle r="45" cx="50%" cy="50%" skill = #{`${skill.js}`}  class="circle__second" transform="rotate(-90 55 55)"></circle>
                                             .skill__name
                                                |JavaScript
                              li.skills__item
                                 .skills-section
                                    .skill-section__title
                                       |Backend
                                    ul.skill-section__list
                                       li.skill-section__item
                                          .skill
                                             svg(class="skill__circle" viewBox="0 0 110 110")
                                                <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"></circle>
                                                <circle r="45" cx="50%" cy="50%" skill = #{`${skill.node}`}  class="circle__second" transform="rotate(-90 55 55)"></circle>
                                             .skill__name
                                                |Node.js & npm
                                       li.skill-section__item
                                          .skill
                                             svg(class="skill__circle" viewBox="0 0 110 110")
                                                <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"></circle>
                                                <circle r="45" cx="50%" cy="50%" skill = #{`${skill.mongo}`} class="circle__second" transform="rotate(-90 55 55)"></circle>
                                             .skill__name
                                                |Mongo.db
                              li.skills__item
                                 .skills-section
                                    .skill-section__title
                                       |WorkFlow
                                    ul.skill-section__list
                                       li.skill-section__item
                                          .skill
                                             svg(class="skill__circle" viewBox="0 0 110 110")
                                                <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"></circle>
                                                <circle r="45" cx="50%" cy="50%" skill = #{`${skill.git}`}  class="circle__second" transform="rotate(-90 55 55)"></circle>
                                             .skill__name
                                                |Git
                                       li.skill-section__item
                                          .skill
                                             svg(class="skill__circle" viewBox="0 0 110 110")
                                                <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"></circle>
                                                <circle r="45" cx="50%" cy="50%" skill = #{`${skill.gulp}`}  class="circle__second" transform="rotate(-90 55 55)"></circle>
                                             .skill__name
                                                |Gulp
														
            section.navigation
               
            include pug-sections/footer  
            include pug-sections/preloader
      script(src='../js/all.js')