-var name = 'Александр Рысухин';

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title blog
      link(rel="stylesheet" href="../css/style.css")
   body
      .wrapper
         .curtain
            section.hero
               include pug-sections/top-section
               .hero__title
                  include pug-sections/authorAvatar
                  .hero-blog__text
                     .blog-text__title.hero-blog__title
                        |Блог
                     .blog-title__under
                        |Статьи, которые я написал
            section.blog
               svg(viewbox="0 0 1000 100"
                     preserveAspectRatio="none"
                     class="triangle triangle-decor")
                        polygon(points="0,0 0,100 500,100")
                        polygon(points="500,100 1000,100 1000,0")
               .blog-container
                  aside.blog__aside
                     ul.blog__headlines-list.blog-list
                        each blog in blogs 
                           li.blog-item 
                              a(href= `#${blog._id}` class="block__headlines-link active") #{`${blog.title}`}
                  .blog-content
                     ul.blog-content__list
                        each blog in blogs 
                           li(id = `${blog._id}` class = "blog-content__item")
                              h2.blog-content__title #{`${blog.title}`}
                              h3.blog-content__date  #{`${blog.date}`} 
                              p.blog-content__text #{`${blog.content}`}
            include pug-sections/footer
            include pug-sections/preloader
      </div>
      <script src="../js/all.js"></script>
     
