-var name = 'Александр Рысухин';

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet" href="../css/style.css")
      title Works
   body
      .wrapper
         .curtain
            .notification.active-notification
               .notification__card
                  h2 Приношу свои извенения
                  p В данный момент эта страница содержит примеры работ, к которым я не имею отношения.Вернее сказать это и не работы вовсе.Просто набор изображений и слов.Механизм работает верно, но контент статичен, он не подгружается из базы данных.
                  p В скором времени неполадка будет исправлена.
                  .notification__cross
                  //-   span.cross
            section.hero
               include pug-sections/top-section
               .hero__title
                  include pug-sections/authorAvatar
                  .personality__name
                     |#{name}
                  .personality__subtitle
                     |Личный сайт веб разработчика
            .works
               svg(viewbox="0 0 1000 100"
                  preserveAspectRatio="none"
                     class="triangle triangle-decor")
                        polygon(points="0,0 0,100 500,100")
                        polygon(points="500,100 1000,100 1000,0")
               .title.user-works__title
                  | Мои работы
               .works__slider.slider
                  .slider__description-block
                     //- ul.slider__description-list 
                     //-    each work,index in works
                     //-       li.slider__description-item
                     //-          .slider-description__title #{`${work.}`}
                     //-          .slider-description__disciplines #{`${work.technologies}`}
                     //-          .slider-description__button
                     //-             a(href="#" class="slider-description__link")
                     //-                img(src="../../img/icon-button-link.png")
                     //-                |Посмотреть сайт
                        //- li.slider__description-item.description-item-active
                        //-       .slider-description__title
                        //-          |Сайт школы онлайн образования
                        //-       .slider-description__disciplines
                        //-           |HTML, CSS, JAVASCRIPT
                        //-       .slider-description__button
                        //-          a(href="#" class="slider-description__link")
                        //-             img(src="../../img/icon-button-link.png")
                        //-             |Посмотреть сайт
                        //- li.slider__description-item
                        //-       .slider-description__title
                        //-          |Сайт школы онлайн образования
                        //-       .slider-description__disciplines
                        //-           |HTML, CSS, JAVASCRIPT
                        //-       .slider-description__button
                        //-          a(href="#" class="slider-description__link")
                        //-             img(src="../../img/icon-button-link.png")
                        //-             |Посмотреть сайт
                        //- li.slider__description-item
                        //-       .slider-description__title
                        //-          |Сайт школы онлайн образования
                        //-       .slider-description__disciplines
                        //-           |HTML, CSS
                        //-       .slider-description__button
                        //-          a(href="#" class="slider-description__link")
                        //-             img(src="../../img/icon-button-link.png")
                        //-             |Посмотреть сайт
                  .slider__control
                     .slider__main-display
                        ul.main-slider__list 
                           li.main-slider__item.main-slider__item-active
                              img(src="../../img/slider/slader-joga_03.jpg")
                           li.main-slider__item
                              img(src="../../img/slider/shear_03.jpg")
                           li.main-slider__item
                              img(src="../../img/slider/Untitled-1.png")
                     .slider__bottom-sliders
                        .slider__bottom
                           a(href = '#' class = 'slider__arrow-link' id ='slider__arrow-down')
                              img(src="../../img/icons/arrow_down.svg" class = 'slider__arrow')
                           ul.slider__bottom-list
                              li.slider__item-down.active-down
                                 img(src="../../img/slider/Untitled-1.png", alt="")
                              li.slider__item-down
                                 img(src="../../img/slider/slader-joga_03.jpg", alt="")
                              li.slider__item-down
                                 img(src="../../img/slider/shear_03.jpg", alt="")
                        .slider__bottom
                           a(href = '#' class = 'slider__arrow-link' id ='slider__arrow-up')
                              img(src="../../img/icons/arrow-up.svg" class = 'slider__arrow')
                           ul.slider__bottom-list 
                              li.slider__item-up.active-up 
                                 img(src="../../img/slider/shear_03.jpg", alt="")
                              li.slider__item-up
                                 img(src="../../img/slider/Untitled-1.png", alt="")
                              li.slider__item-up
                                 img(src="../../img/slider/slader-joga_03.jpg", alt="")
            .reviews
               .title.reviews__title
                  |СВЯЗАТЬСЯ СО МНОЙ
               .reviews__block
                  //- .reviews__container
                  //-    .reviews__comments
                  //-       img(src="../../img/quotes.png" class="quotes")
                  //-       .reviews__content
                     //-       p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, ut expedita sunt necessitatibus consequuntur sit veritatis eius animi fugit recusandae voluptatibus, officiis, provident aliquid quo quam dignissimos? Accusamus, mollitia quod.
                     //-    .visitor
                     //-       .visitor__img-holder
                     //-       .visitor__data
                     //-          .visitor__name Егор Егоров
                     //-          .visitor__status статусный
                     
                     //- .reviews__comments
                     //-    img(src="../../img/quotes.png" class="quotes")
                     //-    .reviews__content
                     //-       p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, dignissimos? Accusamus, mollitia quod.
                     //-    .visitor
                     //-       .visitor__img-holder
                     //-       .visitor__data
                     //-          .visitor__name Захар Захаров
                     //-          .visitor__status статусовый
                  .connection
                     .title.connection__title
                        |ЗАПОЛНИТЕ ФОРМУ
                     form(method="POST" action="/works/emailsend"   class="connection-form")
                        input(type="text" required name="name" placeholder="Имя"  )
                        input(type="text" required  name="email" placeholder="Email")
                        textarea(name="message" required  placeholder="Ваше сообщение")
                        .button-box
                           button(type="submit") Отправить
                           button(type="reset") Очистить
                  .arrow-up__container
                     a(href="#" class="works__arrow-up arrow-up__link") 
                        img(src="../../img/icons/arrow-up.svg") 
                     
               include pug-sections/footer
               include pug-sections/preloader
   .wrapp   
   <script src="../js/all.js"></script>
      