-var name = 'Владимир Астахов';

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      //- link(rel="stylesheet" href="css/all.min.css")
      link(rel="stylesheet" href="../css/style.css")
      title about
   body
      .wrapper
         include ../sections/portfolio-hero
         section.about
            .about__left
               svg(viewbox="0 0 1000 100"
                  preserveAspectRatio="none"
                  class="triangle triangle_fill_white about__triangles")
                  polygon(points="0,0 0,100 1000,100")
               .title.about__section-title
                  |Обо мне
               .user-about
                  .user-about__img-holder
                     .user-about__picter
                        img(src="../../img/hero-photo.jpg")
                  .user-about__title.subtitle
                     |КТО Я
                  .user-about__text 
                     p Я веб разработчик из Новосибирска.Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и    современные проекты.
                     p  Этот сайт я сделал в рамках обучения в Школе онлайн   образования LoftSchool. Чуть позже я освежу в нём свой  контент. А пока посмотрите, как тут всё классно и   красиво!
            .about__right
               svg(viewbox="0 0 1000 100"
                  preserveAspectRatio="none"
                  class="triangle triangle_fill_beige about__triangles")
                  polygon(points="0,100 1000,100 1000,0")
               .aboute-data
                  .aboute-data__description.about-user-info
                     .aboute-data__title
                        .subtitle
                           |Чем я могу быть вам полезен
                        .aboute-data__text
                           |Больше всего меня привлекает Frontend разработка,но я также знаком и могу решать не сложные задачи на Backend.Но давайте по порядку.
                  .about-data__content 
                     ul.skills
                        li.skills__item
                           .skills-section
                              .skill-section__title
                                 |Frontend
                              ul.skill-section__list
                                 li.skill-section__item
                                    .skill
                                       svg(class="skill__circle"
                                       viewBox="0 0 110 110")
                                          <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"></circle>
                                          <circle r="45" cx="50%" cy="50%"  class="circle__second circle-5" transform="rotate(-90 55 55)"></circle>
                                          
                                       .skill__name
                                          |HTML5
                                 li.skill-section__item
                                    .skill
                                       svg(class="skill__circle" viewBox="0 0 110 110")
                                          <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"></circle>
                                          <circle r="45" cx="50%" cy="50%"  class="circle__second" transform="rotate(-90 55 55)"></circle>
                                       .skill__name
                                          |CSS3
                                 li.skill-section__item
                                    .skill
                                       svg(class="skill__circle" viewBox="0 0 110 110")
                                          <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"></circle>
                                          <circle r="45" cx="50%" cy="50%"  class="circle__second" transform="rotate(-90 55 55)"></circle>
                                       .skill__name
                                          |JavaScript & jQuery
                        li.skills__item
                           .skills-section
                              .skill-section__title
                                 |Backend
                              ul.skill-section__list
                                 li.skill-section__item
                                    .skill
                                       svg(class="skill__circle" viewBox="0 0 110 110")
                                          <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"></circle>
                                          <circle r="45" cx="50%" cy="50%"  class="circle__second" transform="rotate(-90 55 55)"></circle>
                                       .skill__name
                                          |php
                                 li.skill-section__item
                                    .skill
                                       svg(class="skill__circle" viewBox="0 0 110 110")
                                          <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"></circle>
                                          <circle r="45" cx="50%" cy="50%"  class="circle__second" transform="rotate(-90 55 55)"></circle>
                                       .skill__name
                                          |mySQL
                                 li.skill-section__item
                                    .skill
                                       svg(class="skill__circle" viewBox="0 0 110 110")
                                          <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"></circle>
                                          <circle r="45" cx="50%" cy="50%"  class="circle__second" transform="rotate(-90 55 55)"></circle>
                                       .skill__name
                                          |Node.js & npm
                                 li.skill-section__item
                                    .skill
                                       svg(class="skill__circle" viewBox="0 0 110 110")
                                          <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"></circle>
                                          <circle r="45" cx="50%" cy="50%"  class="circle__second" transform="rotate(-90 55 55)"></circle>
                                       .skill__name
                                          |Mongo.db
                        li.skills__item
                           .skills-section
                              .skill-section__title
                                 |WorkFlow
                              ul.skill-section__list
                                 li.skill-section__item
                                    .skill
                                       svg(class="skill__circle" viewBox="0 0 110 110")
                                          <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"></circle>
                                          <circle r="45" cx="50%" cy="50%"  class="circle__second" transform="rotate(-90 55 55)"></circle>
                                       .skill__name
                                          |Git
                                 li.skill-section__item
                                    .skill
                                       svg(class="skill__circle" viewBox="0 0 110 110")
                                          <circle r="45" cx="50%" cy="50%" fill="none" class="circle__first"></circle>
                                          <circle r="45" cx="50%" cy="50%"  class="circle__second" transform="rotate(-90 55 55)"></circle>
                                       .skill__name
                                          |Bower
         section.navigation
            div#map
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.244210344132!2d36.236172415715316!3d50.00677777941659!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTDCsDAwJzI0LjQiTiAzNsKwMTQnMTguMSJF!5e0!3m2!1sru!2sua!4v1597686228491!5m2!1sru!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      include ../sections/footer-opacity     
      a(href="blog.html" class="test-link") 
         |blog  
      a(href="works.html" class="test-link") 
         |works  
     


      
      <script async defer alert('123') src="https://maps.googleapis.com/maps/api/js?   key=AIzaSyA7aBlQWgXoe_iL34wVX0elgc6qSn4KFOo&callback=initMap"></script>   
      script(src='../js/all.js')